/* =====
key
====== */
.key img {
    object-position: 50% 20%;
}

.key .page_title {
    bottom: 45px;
    right: 19px;
    color: var(--white);
    text-shadow: 0px 0px 2px #212121;
}

/* =====
flow_area
====== */
.flow_area {
    margin-top: 40px;
    margin-bottom: 24px;
}

.flow_area ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

.flow_area ul li {
    border: 1px solid var(--main-color);
    width: 70px;
    text-align: center;
    line-height: 40px;
    border-radius: 35px;
}

.flow_area ul li.current {
    background-color: var(--main-color);
    color: #fff;
}

/* =====
form
====== */
form {
    margin: 0 auto;
    width: 80%;
    text-align: left;
}

form .form_row {
    margin-top: 20px;
    padding-bottom: 16px;
}

form .form_row label {
    display: block;
    margin-bottom: 8px;
}

form .form_row label span {
    display: inline-block;
    background-color: #dba4a4;
    color: #fff;
    font-size: 12px;
    padding: 1px 3px;
    border-radius: 4px;
    transform: translateY(-1px);
}

form .form_row input {
    width: 100%;
    padding: 4px 0;
}

form .form_row .privacy-check {
    width: 10%;
    margin: 0 auto;
}

form .form_row .privacy-check+span {
    background-color: #fff;
    color: #212121;
    font-size: 16px;
}


form .form_row textarea {
    resize: none;
    width: 100%;
    height: 160px;
}

.sec_contact .check_content.check .text {
    font-size: 13px;
    width: 100%;
}

form .form_row .doui {
    width: 10%;
    margin-top: 16px;
    cursor: pointer;
}

form .form_row .doui+label {
    display: inline;
}

/* ===============
check.phpの下部form
================ */

.check_form {
    text-align: center;
    margin-top: 32px;
    /* display: flex; */
    justify-content: space-around;
    width: 100%;
}

form .submit_btn {
    border: none;
    margin: 0 auto;
    display: inherit;
}


form .btn {
    border: none;
    margin: 0 auto;
    display: inherit;
}

form .btn::after {
    top: 0;
}

.check_form .submit_btn {
    display: block;
    height: 43px;
    line-height: 40px;
    padding: 0 44px;
    font-size: 17px;
    text-align: center;
    border-radius: 22px;
    position: relative;
    margin: 0 auto 16px;

}

.check_form .submit_btn::after {
    top: -5px;
}

/* =====
check.php
====== */
.form_area {
    margin: 0 auto;
    width: 80%;
    text-align: left;
}

.form_area dt {
    font-size: 18px;
    font-weight: bold;
}

.form_area dd {
    margin-bottom: 8px;
}

.form_area dd:last-of-type {
    font-size: 14px;
}

/* =====
apply.html
====== */

form .form_content.select input {
    width: 20px;
    font-size: 15px;
}

.apply form .form_row textarea {
    height: 80px;
}

.apply .check_content::after {
    content: " ";
    display: block;
    width: 60%;
    height: 1px;
    margin: 0 auto;
    background-color: var(--main-color);
}

.apply .check_content .section_title {
    margin-bottom: 16px;
}

.check_content dl dt {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 0px;
    text-align: left;
    font-weight: bold;
}

.apply dl {
    font-size: 14px;
}

.apply dl .text {
    margin-bottom: 14px;
}

/* apply_thanks.php */
.apply .sec_contact .text p {
    margin-bottom: 16px;
}