/* =====
key
====== */
.key img {
    object-position: 50% 100%;
}

.key .page_title {
    bottom: 32px;
    right: 32px;
    color: var(--white);
    text-shadow: 0px 0px 2px #212121;
}

/* =====
sec_event
====== */
.sec_event {
    margin-bottom: 0;
}

/* =====
ul
====== */

.event_list {
    margin-top: 40px;
    margin-bottom: 48px;
}

.event_list .polaroid {
    display: block;
}

.event_list li {
    max-width: 450px;
    width: 90%;
    margin: 24px auto 48px;
    padding-top: 16px;
    padding-bottom: 16px;
    box-shadow: 0px 0px 5px #777;
    background-color: var(--main-color);
}

.event_list li .event_pic {
    margin: 0 auto 8px;
    max-width: 90%;
    border: 10px solid #fff;
}

.event_list li .event_title {
    margin-bottom: 8px;
}

.event_list li .event_text {
    margin-bottom: 16px;
}

/* =====
event_btn
====== */
.event_btn {
    display: inline-block;
    margin: 0 auto;
    height: 36px;
    line-height: 33px;
    padding: 0 30px;
    background-color: #fff;
    color: var(--main-color);
    font-size: 16px;
    text-align: center;
    border-radius: 22px;
    position: relative;
    font-size: 16px;
}

.event_btn::after {
    content: '▶︎';
    font-size: 10px;
    line-height: 33px;
    position: absolute;
    top: -1px;
    right: 16px;
}