@charset "UTF-8";

/* =====
key_top
====== */

.key_top {
    position: relative;
}

.key_top .page_title {
    font-family: 'Dancing Script', cursive;
    font-size: var(--heading_page);
    display: inline-block;
    position: absolute;
}

.key_top .page_title {
    top: 40px;
    left: 20px;
}

/* section margin */
.top section {
    margin-top: 80px;
}

.top section:first-of-type {
    margin-top: 32px;
}

/* copy */
.copy .copy_title {
    font-size: 22px;
}

.copy .copy_text {
    margin-top: 16px;
    width: 90%;
    text-align: center;
}

.copy .copy_text span {
    color: var(--main-color);
    font-weight: bold;
}


.about_fuuri .license {
    margin-top: -16px;
    margin-bottom: 24px;
}