/* =====
key
====== */
.key .page_title {
    bottom: 60px;
    right: 40px;
    color: var(--white);
    text-shadow: 0px 0px 2px #212121;
}

/* =====
各session
====== */
/* .session_box {
    margin-top: 48px;
    margin-bottom: 48px;
} */

.voice_box .voice_title {
    margin-bottom: 24px;
}

.voice_box .voice_text {
    margin: 0 auto 32px;
    width: 85%;
    text-align: left;
    font-size: 4.44vw;
}

/* =====
btn margin
====== */

.submit_btn {
    margin-bottom: 0;
}

.btn {
    margin-bottom: 48px;
}